In [1]:
import pandas as pd
import numpy as np

In [2]:
df1 = pd.DataFrame({'cust_id':[1,2,3,4,5],
                   'product':["Radio","Radio","Fridge","Fridge","Phone"]})
df2 = pd.DataFrame({'cust_id':[3,4,5,6,7,8],
                   'state':["UP","UP","MP","MP","MH","UP"]})

In [3]:
df1

   cust_id product
0        1   Radio
1        2   Radio
2        3  Fridge
3        4  Fridge
4        5   Phone

In [4]:
df2

   cust_id state
0        3    UP
1        4    UP
2        5    MP
3        6    MP
4        7    MH
5        8    UP

# Inner join    (Intersection)

In [5]:
pd.merge(df1,df2,on = ["cust_id"],how = 'inner')

   cust_id product state
0        3  Fridge    UP
1        4  Fridge    UP
2        5   Phone    MP

# Outer join   ("Union")

In [6]:
pd.merge(df1,df2,on = ["cust_id"],how = 'outer')

   cust_id product state
0        1   Radio   NaN
1        2   Radio   NaN
2        3  Fridge    UP
3        4  Fridge    UP
4        5   Phone    MP
5        6     NaN    MP
6        7     NaN    MH
7        8     NaN    UP

# left join

In [7]:
pd.merge(df1,df2,on = ["cust_id"],how = 'left')

   cust_id product state
0        1   Radio   NaN
1        2   Radio   NaN
2        3  Fridge    UP
3        4  Fridge    UP
4        5   Phone    MP

# Right join

In [8]:
pd.merge(df1,df2,on = ["cust_id"],how = 'right')

   cust_id product state
0        3  Fridge    UP
1        4  Fridge    UP
2        5   Phone    MP
3        6     NaN    MP
4        7     NaN    MH
5        8     NaN    UP